<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="Cinnt.Properties.Language" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cinnt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        
        <Cinnt.Properties.Language>
            <setting name="_LanguageCode" serializeAs="String">
                <value>EN_US</value>
            </setting>
            <setting name="EditMenu" serializeAs="String">
                <value>Edit</value>
            </setting>
            <setting name="FindMenuItem" serializeAs="String">
                <value>&amp;Find</value>
            </setting>
            <setting name="ReplaceMenuItem" serializeAs="String">
                <value>Replace</value>
            </setting>
            <setting name="IsolateMenuItem" serializeAs="String">
                <value>&amp;Isolate</value>
            </setting>
            <setting name="SubtractMenuItem" serializeAs="String">
                <value>Sub&amp;tract</value>
            </setting>
            <setting name="InsertMenuItem" serializeAs="String">
                <value>Inse&amp;rt</value>
            </setting>
            <setting name="RemoveLettersMenuItem" serializeAs="String">
                <value>Remove letters</value>
            </setting>
            <setting name="ChangeCaseMenuItem" serializeAs="String">
                <value>Change case</value>
            </setting>
            <setting name="SpecialCharactersMenuItem" serializeAs="String">
                <value>S&amp;pecial characters</value>
            </setting>
            <setting name="UndoMenuItem" serializeAs="String">
                <value>Undo</value>
            </setting>
            <setting name="DataMenu" serializeAs="String">
                <value>Data</value>
            </setting>
            <setting name="HashMenuItem" serializeAs="String">
                <value>Hash</value>
            </setting>
            <setting name="ConvertMenuItem" serializeAs="String">
                <value>Convert</value>
            </setting>
            <setting name="RandomMenuItem" serializeAs="String">
                <value>Random</value>
            </setting>
            <setting name="CovfefeizeMenuItem" serializeAs="String">
                <value>C&amp;ovfefeize</value>
            </setting>
            <setting name="AddRandomLettrMenuItem" serializeAs="String">
                <value>Add random letters</value>
            </setting>
            <setting name="SortationMenu" serializeAs="String">
                <value>Sortation</value>
            </setting>
            <setting name="SortMenuItem" serializeAs="String">
                <value>&amp;Sort</value>
            </setting>
            <setting name="ShuffleMenuItem" serializeAs="String">
                <value>Shuff&amp;le</value>
            </setting>
            <setting name="ReverseMenuItem" serializeAs="String">
                <value>Reverse</value>
            </setting>
            <setting name="SettingsMenu" serializeAs="String">
                <value>Settings</value>
            </setting>
            <setting name="FontMenuItem" serializeAs="String">
                <value>Font</value>
            </setting>
            <setting name="OptionsMenuItem" serializeAs="String">
                <value>Options</value>
            </setting>
            <setting name="AboutMenuItem" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="ArgCaseCapital" serializeAs="String">
                <value>caps</value>
            </setting>
            <setting name="ArgCaseLower" serializeAs="String">
                <value>lower</value>
            </setting>
            <setting name="ArgCaseSentence" serializeAs="String">
                <value>sentence</value>
            </setting>
            <setting name="ArgCaseRevSentence" serializeAs="String">
                <value>-sentence</value>
            </setting>
            <setting name="ArgSha256Hash" serializeAs="String">
                <value>sha256</value>
            </setting>
            <setting name="ArgSha512Hash" serializeAs="String">
                <value>sha512</value>
            </setting>
            <setting name="ArgMd5Hash" serializeAs="String">
                <value>md5</value>
            </setting>
            <setting name="ArgAscii" serializeAs="String">
                <value>ascii</value>
            </setting>
            <setting name="ArgBinary" serializeAs="String">
                <value>bin</value>
            </setting>
            <setting name="ArgHexadecimal" serializeAs="String">
                <value>hex</value>
            </setting>
            <setting name="CovfefeizeConsonants" serializeAs="String">
                <value>bcdfghjklmnpqrstvwxyz</value>
            </setting>
            <setting name="CovfefeizeVowels" serializeAs="String">
                <value>aeiou</value>
            </setting>
            <setting name="SettingsGeneralTab" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="SettingsPersonalTab" serializeAs="String">
                <value>Personalization</value>
            </setting>
            <setting name="SettingsVersionLabel" serializeAs="String">
                <value>Version: Cinnt v</value>
            </setting>
            <setting name="SettingsReportIssueLabel" serializeAs="String">
                <value>Report an issue</value>
            </setting>
            <setting name="SettingsGithubLabel" serializeAs="String">
                <value>Github</value>
            </setting>
            <setting name="SettingsWordWrapCheckBox" serializeAs="String">
                <value>Word wrap</value>
            </setting>
            <setting name="SettingsMaxLetters" serializeAs="String">
                <value>Max letters (/1024)</value>
            </setting>
            <setting name="SettingsAlphabet" serializeAs="String">
                <value>Alphabet</value>
            </setting>
            <setting name="SettingsAlphabetSelectDropdownBox" serializeAs="String">
                <value>26-letter Latin
26-letter Latin (with capitals)
Russian Cyrillic
Russian Cyrillic (with capitals)
Arabic (Standard)
Devanagari
Japanese (hiragana)
Japanese (katakana)
Japanese (hiragana+katakana)
Syriac
Armenian
Armenian (with capitals)
Georgian (mkhedruli)
Ge'ez
Cree
Inuktitut
Cherokee
Greek
Greek (with capitals)
Mandaic
Vai</value>
            </setting>
            <setting name="SettingsLocalizationLabel" serializeAs="String">
                <value>Localization: </value>
            </setting>
            <setting name="SettingsLocalizationSelect" serializeAs="String">
                <value>Select</value>
            </setting>
            <setting name="SettingsPersonalizationText" serializeAs="String">
                <value>Textbox background
Textbox foreground
Inactive button background
Selected button background
Active button background
Button text color
Window background
Find and replace match color
Status strip background</value>
            </setting>
            <setting name="SettingsModify" serializeAs="String">
                <value>Modify</value>
            </setting>
            <setting name="SettingsChangeUIFont" serializeAs="String">
                <value>Change UI Font</value>
            </setting>
            <setting name="SettingsReset" serializeAs="String">
                <value>Reset</value>
            </setting>
            <setting name="SettingsApply" serializeAs="String">
                <value>Apply</value>
            </setting>
            <setting name="CharBrowseChangeFont" serializeAs="String">
                <value>Change Font</value>
            </setting>
            <setting name="Ok" serializeAs="String">
                <value>OK</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Cinnt</value>
            </setting>
        </Cinnt.Properties.Language>
        <Cinnt.Properties.Settings>
            <setting name="def_fnt" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="tbBC" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="tbFC" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="btnBC" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="btnFC" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="btnMoBC" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="btnMdBC" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="uiFont" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="uiBC" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="matchC" serializeAs="String">
                <value>ForestGreen</value>
            </setting>
            <setting name="statBC" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MaximumRand" serializeAs="String">
                <value>536870912</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alphabet" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyz</value>
            </setting>
            <setting name="Localisations" serializeAs="String">
                <value />
            </setting>
        </Cinnt.Properties.Settings>
    </userSettings>
</configuration>