<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cinnt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Cinnt.Properties.Settings>
            <setting name="def_fnt" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="tbBC" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="tbFC" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="btnBC" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="btnFC" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="btnMoBC" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="btnMdBC" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="uiFont" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="uiBC" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="matchC" serializeAs="String">
                <value>ForestGreen</value>
            </setting>
            <setting name="statBC" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MaximumRand" serializeAs="String">
                <value>536870912</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
        </Cinnt.Properties.Settings>
    </userSettings>
</configuration>